.home-container {
  height: 85vh;
  width: 100vw;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
  padding-top: 15px;
  padding: 20px;
}
.home-inside-text-container {
  width: 50%;
}
.link-style {
  text-decoration: none;
}
.home-heading {
  font-family: 'Roboto';
  font-size: 55px;
  color: #ffffff;
}
.home-description {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
  line-height: 40px;
}

.find-jobs-button {
  height: 45px;
  width: 120px;
  background-color: #4f46e5;
  color: #ffffff;
  border-width: 0px;
  border-radius: 7px;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .home-container {
    height: 90vh;
    width: 100vw;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
  }
  .home-heading {
    font-family: 'Roboto';
    color: #ffffff;
  }
  .home-description {
    font-family: 'Roboto';
    color: #ffffff;
  }
  .find-jobs-button {
    height: 40px;
    width: 90px;
    background-color: #4f46e5;
    color: #ffffff;
    border-width: 0px;
    border-radius: 7px;
    font-family: 'Roboto';
  }
  .home-inside-text-container {
    width: 90%;
  }
}
